#
# Boot to recovery hack for LGE OPTIMUS F6
# Original work by Hroark13
# Implemented in a cleaner way bt DM47021
# 

on early-init

    mkdir /tmp
    mount tmpfs tmpfs /tmp
    chmod 1777 /tmp
    chown root root /sbin/rr1.sh
    chmod 0777 /sbin/rr1.sh
    chown root root /sbin/recovery
    chmod 0777 /sbin/recovery
    symlink /sbin/recovery /sbin/busybox
    symlink /sbin/recovery /sbin/reboot
    symlink /sbin/recovery /sbin/setprop
    symlink /sbin/busybox /sbin/sh


on fs_selinux

service rr1 /sbin/sh /sbin/rr1.sh
    user root
    group root
    oneshot
    disabled


on boot

    start rr1


on post-fs-data

    service rr2 /sbin/reboot recovery
   oneshot
   disabled

on property:ro.r.r=1
    start rr2


